<link rel="stylesheet" href="../static/base.css">
<h2>Pacientes</h2>
<link rel="stylesheet" href="../static/pacientes.css">  
<div class="card-custom">
    <a class="btn btn-success">Registrar Paciente</a>
</div>

<div class="table-custom">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>RUT</th>
            <th>Fecha Nac.</th>
            <th>Sexo</th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td><img src="persona.jpg" class="imagen-lista"></td>
            <td>María López</td>
            <td>17.234.555-3</td>
            <td>2000-03-22</td>
            <td>F</td>
            <td>
                <button class="btn btn-warning">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
</div>


